@model IEnumerable<FIT5032_MyProject.Models.Report>

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

@if (User.IsInRole("Doctor"))
{
    <p>@Html.ActionLink("Create New", "Create","Report", new { @class = "btn btn-success" })</p>
}

<table class="table">
    <tr>
        <th>Date</th>
        <th>Time</th>
        @if (User.IsInRole("Doctor") || User.IsInRole("Admin"))
        {
            <th>Patient</th>
        }
        @if (User.IsInRole("Patient") || User.IsInRole("Admin"))
        {
            <th>Doctor</th>
        }
        <th>Branch</th>
        <th>Image</th>
        <th>Title</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Booking.BookableTimeSlot.Date.ToShortDateString()</td>
            <td>@String.Format("{0} - {1}", item.Booking.BookableTimeSlot.StartTime.ToShortTimeString(), item.Booking.BookableTimeSlot.EndTime.ToShortTimeString())</td>
            @if (User.IsInRole("Doctor") || User.IsInRole("Admin"))
            {
                <td>@item.Booking.PatientUser.Firstname</td>
            }
            @if (User.IsInRole("Patient") || User.IsInRole("Admin"))
            {
                <td>@item.Booking.BookableTimeSlot.DoctorUser.Firstname</td>
            }
            <td>@item.Booking.BookableTimeSlot.Branch.Name</td>
            <td>
                @Html.ActionLink(Path.GetFileName(item.ImagePath), "ShowImage", new { id = item.Id })
            </td>

            <td>@item.Title</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
                @if (User.IsInRole("Admin") || User.IsInRole("Doctor"))
                {
                    @Html.Raw(" | ") @Html.ActionLink("Edit", "Edit", new { id = item.Id },new { @class = "btn btn-success" })
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Doctor"))
                {
                    @Html.Raw(" | ") @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                }
                @Html.Raw(" | ") @Html.ActionLink("Send to Email", "SendReport", new { id = item.Id }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }
</table>
