@model IEnumerable<FIT5032_MyProject.Models.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Branch information</h2>

<p>
    @if (User.IsInRole("Admin")) //only admin can create
    {
        @Html.ActionLink("Create New", "Create", "Branch", new { @class = "btn btn-success" })
    }
</p>

<div id='map' style='height:300px;'></div>


<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>Options</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="coordinates">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="description">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td class="latitude">
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td class="longitude">
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>

                <td>
                    @if (!User.IsInRole("Admin")) //staff and users can only see details
                    {
                        @: @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
                    }
                    else if (User.IsInRole("Admin"))
                    {
                        @: @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" }) |
                        @: @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" }) |
                        @: @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    }
                </td>
            </tr>
        }

    </tbody>

    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

</table>




@section scripts{
    @Scripts.Render("~/bundles/mapbox")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatable")


    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css' type='text/css' />


    <script>
        $(document).ready(function () {
            let table = new DataTable('#datatable');
        })

    </script>

}